.circle {
  width: 200px;
  height: 200px;
  margin-top: 200px;
  border: 1px solid #333;
  border-radius: 50%;
  position: absolute;
}
.left_circle {
  margin-left: 10%;
}
.right_circle {
  margin-left: calc(90% - 220px);
}
.content {
  width: 150%;
  height: 50%;
  position: absolute;
  left: -25%;
  top: 25%;
  /*border: 1px solid #333;*/
  background: rgba(255, 0, 0, 0.3);
  border-radius: 25px;
}

/*--animation--*/
.top {
  animation: rotate_top 5s ease 1;
  -webkit-transform: translate(-150%);
}
@keyframes rotate_top {
  0% {
    -webkit-transform: rotate(0deg) translateY(-150%) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg) translateY(-150%) rotate(-90deg);
  }
}
.right {
  animation: rotate_right 5s ease 1;
}
@keyframes rotate_right {
  0% {
    -webkit-transform: rotate(0deg) translateX(50%) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg) translateX(50%) rotate(-90deg);
  }
}
.bottom {
  animation: rotate_bottom 5s ease 1;
}
@keyframes rotate_bottom {
  0% {
    -webkit-transform: rotate(0deg) translateY(150%) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg) translateY(150%) rotate(-90deg);
  }
}
.left {
  animation: rotate_left 5s ease 1;
}
@keyframes rotate_left {
  0% {
    -webkit-transform: rotate(0deg) translateX(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg) translateX(-50%) rotate(-90deg);
  }
}
